@import "bootstrap-4.3.1-dist/css/bootstrap.css";
@import "bootstrap-4.3.1-dist/css/bootstrap-grid.css";
@import "bootstrap-4.3.1-dist/css/bootstrap-reboot.css";

@font-face {
    font-family: 'roboto_slab';
    src: url('font/robotoslab-variablefont_wght-webfont.eot');
    src: url('font/robotoslab-variablefont_wght-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/robotoslab-variablefont_wght-webfont.woff2') format('woff2'),
         url('font/robotoslab-variablefont_wght-webfont.woff') format('woff'),
         url('font/robotoslab-variablefont_wght-webfont.svg#roboto_slabregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@media only screen and (max-width: 768px){
    ul.navbar-nav {
        width: 100% !important;
    }
    .nav-item {
        padding: 0 !important;
        width: 100% !important;
        display: block !important;
    }
    #navbarToggleMobile {
        width: 100% !important;
        margin-top: 10px !important;
    }
    #logo {
        margin: auto !important;
    }
    .reason{
        width: auto !important;
        display: block !important;
        height: auto !important;
    }
    .reason-text{
        display: block !important;
        padding: 10px 0!important;
    }
    .reason-desc {
        margin-bottom: 15px !important;
    }
    .place-icon {
        display: block !important;
    }
    .sticky-top{
        position: static;
    }
    .new-reason {
        height: auto !important;
    }
    .new-reason-desc {
        display: block !important;
        width: 100% !important;
        padding: 10px !important;
        height: auto !important;
    }
    .new-img {
        display: block !important;
        height: 60% !important;
        width: 100% !important;
    }
    .shadow-right {
        box-shadow: 1em 0em 2em 2em rgb(36,78,107) !important;
        transform: skew(0deg) !important;
    }
    .shadow-left {
        box-shadow: -1em 0em 2em 2em rgb(36,78,107) !important;
        transform: skew(0deg) !important;
    }
    .new-reason-text {
        font-size: 1em !important;
        transform: skew(0deg) !important;
        margin-top: 1% !important;
        line-height: 1.8 !important;
    }
    .carousel-indicators#services {
        justify-content: start !important;
    }
    #workshop::before {
        content: "\A";
        white-space: pre;
    }
    .new-reason {
        background: rgb(36,78,107) !important;
        background: -moz-linear-gradient(0deg, rgba(36,78,107,1) 80%, rgba(132,205,219,1) 100%) !important;
        background: -webkit-linear-gradient(0deg, rgba(36,78,107,1) 80%, rgba(132,205,219,1) 100%) !important;
        background: linear-gradient(0deg, rgba(36,78,107,1) 80%, rgba(132,205,219,1) 100%) !important;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#244e6b",endColorstr="#84cddb",GradientType=1) !important;
    }
    .ser-details {
        margin: 10px 0 !important;
        width: 100% !important;
        padding: 10px !important;
        display: block !important;
        z-index: 2;
        position: absolute;
    }
    .img-cont {
        display: block !important;
        height: 100% !important;
        width: 100% !important;
        position: absolute !important;
    }
    .img-ser {
        object-fit: cover !important;
        z-index: 1;
        opacity: 0.5;
    }
    .product-ex {
        display: block !important;
        width: 90% !important;
        text-align: center;
        margin: 5% !important;
    }
    .gmaps {
        font-size: 1em !important;
        text-align: center !important;
    }
    .product-title {
        overflow: auto !important;
        height: 60px !important;
    }
    .product-title::after {
        content: '+';
        position: absolute !important;
        float: right !important;
        transform: translate(350%, 0%);
    }
    .manufacturer {
        overflow: auto !important;
        word-wrap: break-word !important;
        font-size: 1.2rem !important;
        width: 70% !important;
        transform: translate(35%, 0%) !important;
        
    }
    #t-pr {
        text-align: left !important;
    }
    .product-img {
        display: block !important;
        width: 90% !important;
        position: static !important;
        margin-bottom: 10px !important;
    }
    .product-img + .product-name {
        display: block !important;
        position: static !important;
        height: auto !important;
        margin-top: 20px !important;
        margin-left: 0px !important;
    }
    .img-tr {
        height: inherit !important;
    }
    .form-new {
        width: 100% !important;
    }
    .carousel-indicators#services li{
        width: 15% !important;
        height: 15% !important;
    }
    .img-hero {
        height: 100% !important;
        width: 100% !important;
        object-fit: cover !important;
    }
    .text-hero {
        width: 100% !important;
        height: auto !important;
        top: 50% !important;
    }
}

/* END OF RESPONSIVENESS */
/* START OF AWESOMENESS */
body {
    background: rgba(255, 255, 255, 1);
}
h1, .title {
    font-family: serif;
}

.header {
    border-bottom: 1px solid #800;
    padding: 3px;
}
#navbar {
    padding: 0.2rem;
    top: 0px;
    position: sticky;
    z-index: 99;
    background: rgba(250, 245, 255, 1);
}
#logo {
    margin-right: auto;
    float: left;
    width: 250px;
    height: 65px;
    background: #999;
    text-align: center;
}
#logo img {
    max-width: 100%;
}

li a:hover {
    color: #FFF;
    background: #A00;
    -webkit-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.5);
}
.aktif {
    background: #800;
}
li.aktif a{
    color: #FFF;
}
.nav-item {
    padding: 3px;
}
li a{
    color: #800;
}

.carousel {
    height: 100%;
    color: White;
}

.carousel-item {
    height: 100%;
}

.carousel-ab {
    height: 80%;
    background: #800;
}
.text-hero {
    z-index: 2 !important;
    text-align: center;
    position: absolute;
    width: 100%;
    height: auto;
    top: 35%;
    background: rgba(80, 0, 0, 0.8);
    color: #FFF;
}
.img-hero {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.m-20 {
    margin: 20px;
}

.whyus {
    width: auto; 
    margin-top: 3%;
    padding-bottom: 3%;
    border-bottom: 3px solid #800;
}
.reason {
    text-align: center;
    height: 65%;
    line-height: 1.7;
    width: 25%;
    margin: 3%;
    position: static;
    display: inline-table;
    padding: 20px;
    background: rgba(0, 4, 59, 0.3);
    -webkit-box-shadow: 15px 15px 20px 0px rgba(0, 4, 59, 0.3);
    -moz-box-shadow: 15px 15px 20px 0px rgba(0, 4, 59, 0.3);
    box-shadow: 45px 0px 45px 25px rgba(0, 4, 59, 0.3);
}
.reason-text {
    font-size: 1.3em;
    text-align: center;
    display: block;
    margin-right: 5px;
}
.place-icon {
    background: #AAA;
    height: 150px;
}
.reason-desc {
    margin-top: 10px;
}

.new-whyus {
    text-align: center;
    padding: 40px 0px 20px;
}
.new-reason {
    width: 100%;
    display: block;
    height: 340px;
    overflow: hidden;
    margin: 30px 0px;
}
.blue {
    background: rgb(36,78,107);
    background: -moz-radial-gradient(circle, rgba(36,78,107,1) 0%, rgba(65,125,159,1) 55%, rgba(132,205,219,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(36,78,107,1) 0%, rgba(65,125,159,1) 55%, rgba(132,205,219,1) 100%);
    background: radial-gradient(circle, rgba(36,78,107,1) 0%, rgba(65,125,159,1) 55%, rgba(132,205,219,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#244e6b",endColorstr="#84cddb",GradientType=1);
}
.new-img {
    float: right;
    width: 50%;
    height: 100%;
    background-color: #333;
    z-index: 0;
    display: inline-block;
}
.right {
    float: right;
}
.shadow-right {
    box-shadow: 5em 0em 5em 5em rgb(36,78,107);

    transform: skew(-10deg);
}
.shadow-left {
    box-shadow: -5em 0em 5em 5em rgb(36,78,107);
    
    transform: skew(-10deg);
}
.left {
    float: left;
}
.new-reason-desc {
    z-index: 9;
    display: inline-table;
    padding: 3%;
    width: 45%;
    height: 100%;
    padding-top: 7%;
}
.new-reason-text {
    color: rgba(255, 255, 255, 0);
    position: relative;
    line-height: 2;
    display: block;
    margin: auto;
    font-size: 1.2em;
}
.reason-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


#carousel-services {
    height: auto;
    width: 100%;
    margin-top: 20px;
}
.carousel-ser {
    width: 100%;
    margin-top: 1%;
    height: auto;
    padding-top: 15px;
    display: block;
    z-index: 0;
    position: static;
}
.carousel-indicators#services{
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
  overflow: visible;
  display: flex;
  position: static;
  flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  margin-top: 2%;
  z-index: 1;
}
.carousel-indicators#services li{
  opacity: 0.5;
  width: 160px;
  height: 70px;
  flex: none;
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
  background: rgba(250, 250, 250, 1);
  color: #008;
  opacity: 1;
  transition: opacity 0.6s ease;
  border-radius: 1em;
  text-indent: 0;
  box-sizing: border-box;
  background-clip: border-box;
  text-align: center;
  padding: inherit;
  font-weight: bold;
}
.carousel-indicators#services .active{
  opacity: 1;
  width: 160px;
  height: 70px;
  border-radius: 1em;
  background: #FFF;
  color: #800;
  border: 5px solid #800;   
  -webkit-box-shadow: 10px 10px 10px 0px rgba(76,0,0,0.5);
  -moz-box-shadow: 10px 10px 10px 0px rgba(76,0,0,0.5);
  box-shadow: 10px 10px 10px 0px rgba(76,0,0,0.5);
  z-index: 2;
}
.h2-ser{
    color: #800;
}
.red {
    background: rgb(136,34,34);
    background: -moz-linear-gradient(90deg, rgba(136,34,34,1) 0%, rgba(187,51,34,0.7539390756302521) 100%);
    background: -webkit-linear-gradient(90deg, rgba(136,34,34,1) 0%, rgba(187,51,34,0.7539390756302521) 100%);
    background: linear-gradient(90deg, rgba(136,34,34,1) 0%, rgba(187,51,34,0.7539390756302521) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#882222",endColorstr="#bb3322",GradientType=1);
}
.ser {
    color: #FFF;
    position: static;
    height: 70%;
    width: 100%;
}
.ser-details {
    margin: 10% 30px;
    width: 30%;
    padding-top: 25px;
    display: inline-block;
}
p.small {
    position: absolute;
    transform: translateY(90%);
    top: 90%;
    color: rgba(200, 200, 200, 1);
}

.title{
    width: 100%;
    color: #800;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}
#t-ser {
    color: #800;
}
.img-cont {
    display: inline-block;
    width: 65%;
    height: 100%;
    position: absolute;
    overflow: visible;
}
.img-ser {
    object-fit: cover;
    position: static;
}
.ser-3 {
    height: 32%;
    margin: 0.3%;
}
.ser-2 {
    height: 48%;
    margin: 0.5%;
}
.ser-1 {
    height: 100%;
}

.vert-ser-3 {
    width: 32%;
    height: 100%;
    margin: 0.1%;
}
.vert-ser-2 {
    width: 48%;
    height: 100%;
    margin: 0.3%;
}
.hovering {
    height: 100%;
    position: absolute;
    top: 0%;
    z-index: 9 !important;
    box-shadow: -20px 0px 10px rgba(136, 0, 0, 0.3);
}

.gmaps {
    border-radius: 1em;
    border: 0.5px solid #800;
    margin-top: 7%;
    font-size: 1.2em;
    display: block;
    position: relative;
}

.bg {
    width: 100%;
    background: rgb(36,78,107);
    /* background: #003663; /* rgba(0, 54, 99, 1) */
}

.footer-container{
    margin-top: 5%;
    padding: 3%;
    position: relative;
}
.footer{
    display: inline-table;
    color: #EEE;
    font-size: 0.8rem;
    position: relative;
}

/* PRODUCT PAGE */
.hero {
    background: #800;
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
}
.divider {
    background: #999;
}

.products{
    margin-top: 40px;
}
.product-list{
    position: relative;
    color: #FFF;
    margin: 30px 0;
    padding-top: 0px;
}
.product-title{
    position: relative;
    cursor: pointer;
    display: block;
    height: 60px;
}
.product-logo{
    display: inline-block;
    height: 100%;
    width: 20%;
    margin-left: 2%;
    position: absolute;
    float: right;
    overflow: hidden;
    object-fit: fill;
    z-index: 1;
    padding: 5px;
}
.product-logo img {
    width: 100%;
    height: 100%;
}
.manufacturer { 
    display: inline-block;
    position: relative;
    font-size: 1.3rem;
    width: 95%;
    float: left;
    z-index: 1;
    transform: translate(25%, 50%);
}
.product-title::after {
    display: inline-block;
    position: absolute;
    float: right;
    content: '+';
    font-size: 2rem;
}
.product-title.opened::after {
    content: "-";
    position: absolute;
}
.product-cont {
    display: none;
}
.product-detail {
    display: block;
    margin: auto;
    width: 90%;
    background: rgba(255,255,255,0);
    color: #000;
    padding: 20px 0px;
    border-bottom: 3px solid #A33;
}
.show {
    display: block;
    transition: down 0.5s;
}
.img-tr {
    height: auto;
}
.product-name {
    display: block;
    position: relative;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #800;
}
.product-img {
    display: inline-block;
    position: relative;
    width: 30%;
    height: 200px;
    background: #555;
    margin: 0 15px;
}
.product-img + .product-name {
    display: inline-block;
    position: relative;
    font-size: 1.2rem;
    color: #800;
    font-weight: bold;
    margin-left: 4%;
    position: relative;
    top: -100px;
    height: auto;
}

/* CONTACT US PAGE*/
.form-new {
    width: 75%;
    margin-top: 20px;
    padding: 20px;
}
.form-group img {
    margin: 10px 0 10px;
}
.cap {
    width: auto;
    font-size: 1.2em;
}
label {
    font-weight: bold;
}

/* ANIMATION */
.display-slides {
    animation: .4s ease-out 1 slide_up;
    color: rgba(255, 255, 255, 1);
}

@keyframes slide_up {
    from {
        margin-top: 20%;
        color: rgba(255, 255, 255, 0.2);
        display: none;
    }
    to {
        margin-top: 0;
        color: rgba(255, 255, 255, 1);
        display: block;
    }
}
